<!-- Sales Invoice -->
<div class="list-row payment-assign-wizard-item list-xs-height mb-4">
  <div>
    <div class="clickable-section" data-name="{{ name }}">
      <div class="row">
        <div class="col-sm-2 hidden-xs" style="padding-right: 0px">
          <button
            class="hide_row btn btn-default btn-xs hidden-xs center-block"
            data-name="{{ name }}"
            style="margin-left: 10px;"
          >
          👁️ {{ __("Hide") }}
          </button>
        </div>

        {% if matchAgainst == "Sales Invoice" %}
        <div class="col-sm-2 ellipsis">
          <a href="sales-invoice/{{ name }}">{{ name }}</a>
        </div>
        <div class="col-sm-2 ellipsis hidden-xs">
          {{ customer }} 
          <br>
          {{customer_name}}
        </div>
        {% endif %}

        {% if matchAgainst == "Purchase Invoice" %}
        <div class="col-sm-2 ellipsis">
          <a href="purchase-invoice/{{ name }}">{{ name }}</a>
        </div>
        <div class="col-sm-2 ellipsis hidden-xs">
          {{ supplier }} 
          <br>
          {{supplier_name}}
        </div>
        {% endif %}

        <div class="col-sm-2 ellipsis">
          {{ outstanding_amount }}
        </div>
        <div class="col-sm-2 ellipsis hidden-xs">{{ posting_date }}</div>
        <!-- <div class="col-sm-3 ellipsis">{{ due_date }}</div> -->
      </div>
    </div>
  </div>
</div>

<!-- Payment Entries -->
{% if optionValue == "Payment Entry" %} {% for payment in payments %}
<div class="list-row payment-assign-wizard-item" style="height: auto">
  <div class="row">
    <div class="col-sm-1" style="padding-right: 0px">
      <button
        class="assign_payment btn btn-default btn-xs center-block"
        data-name="{{ payment.name }}"
        style="padding-top: 0px; padding-bottom: 0px"
      >
        {{ __("Assign") }}
      </button>
    </div>
    <div class="col-sm-2 ellipsis">
      <a href="payment-entry/{{ payment.name }}">{{ payment.name }}</a>
    </div>
    <div class="col-sm-2 ellipsis hidden-xs">
      {{ payment.party }}
      <br>
      {% if matchAgainst === "Sales Invoice" %}
        {{customer_name}}
      {% endif %}

      {% if matchAgainst === "Purchase Invoice" %}
        {{supplier_name}}
      {% endif %}
    </div>
    <div class="col-sm-2 ellipsis">
      {{ payment.unallocated_amount }} {{ currency }}
    </div>
    <div class="col-sm-2 ellipsis">{{ payment.posting_date }}</div>
    <!-- <div class="col-sm-3 ellipsis hidden-xs" style="white-space: normal">
      {{ payment.remarks}}
    </div> -->

  </div>
</div>
{% endfor %} {% endif %}

<!-- Bank Transactions -->
{% if optionValue == "Bank Transaction" %} {% for payment in payments %}
<div class="list-row payment-assign-wizard-item" style="height: auto">
  <div class="row">
    <div class="col-sm-2" style="padding-right: 0px">
      <button
        class="reconcile_transaction btn btn-default btn-xs center-block"
        data-name="{{ payment.name }}"
        style="margin-left: 10px;"
      >
      💰 {{ __("Reconcile") }}
      </button>
    </div>

    <div class="col-sm-2 ellipsis hidden-xs" style="white-space: normal">
      {{ payment.description}}
      <!-- <br>
      <a href="bank-transaction/{{ payment.name }}">{{ payment.name }}</a> -->
    </div>

    <div class="col-sm-2 ellipsis hidden-xs">
      {{ payment.party }}
      <br>
      {% if matchAgainst === "Sales Invoice" %}
        {{customer_name}}
      {% endif %}

      {% if matchAgainst === "Purchase Invoice" %}
        {{supplier_name}}
      {% endif %}
    </div>
    <div class="col-sm-2 ellipsis">
      
      {{ payment.unallocated_amount }}
    </div>
    <div class="col-sm-2 ellipsis">{{ payment.date }}</div>

    <!-- <div class="col-sm-2 ellipsis">
      <a href="bank-transaction/{{ payment.name }}">{{ payment.name }}</a>
    </div> -->

  </div>
</div>
{% endfor %} {% endif %}
