include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include kefiya *.css
recursive-include kefiya *.csv
recursive-include kefiya *.html
recursive-include kefiya *.ico
recursive-include kefiya *.js
recursive-include kefiya *.json
recursive-include kefiya *.md
recursive-include kefiya *.png
recursive-include kefiya *.py
recursive-include kefiya *.svg
recursive-include kefiya *.txt
recursive-exclude kefiya *.pyc